PORT=3000
FOLDER=/absolute/path/to/uploads
PROVIDER=google
CONFIG=./src/core/config/gcs-config.json


GOOGLE_APPLICATION_CREDENTIALS=./src/core/config/gcs-config.json
GOOGLE_CLOUD_PROJECT_ID=infra-analyzer-466609-b5
GOOGLE_CLOUD_BUCKET_NAME=file-sharing
